html {
  background: #e1e1e1;
}

@mixin crossBrowser($prop,$type) {
  -webkit-#{$prop}: $type;
  -moz-#{$prop}: $type;
  -ms-#{$prop}: $type;
  -o-#{$prop}: $type;
  #{$prop}: $type;
}

@mixin msgs($color) {
  @include crossBrowser(box-sizing, border-box);
  @include crossBrowser(box-shadow, 0 0 15px #666);
  position: relative;
  border-left: 10px solid darken($color, 12.5%);
  text-shadow: 1px 1px 0 darken($color, 20%);
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45816/noisy-bg.png') $color;
  color: #fff;
  padding: 25px;
  font-family: Arial;
  a {
    display: block;
    position: absolute;
    top: 5px;
    right: 7.5px;
    color: #fff;
    text-decoration: none;
    font-size: 18pt;
    &:hover {
      @include crossBrowser(transform, scale(1.25));
    }
    &:active {
      @include crossBrowser(transform, scale(0.9));
    }
  }
}

.blue { @include msgs(#0099cc); }
.orange { @include msgs(#f7941e); }
.red { @include msgs(red); }
.green { @include msgs(green); }
.gray { @include msgs(#666666); }

.sm {
  padding: 15px !important;
  width: 50%;
}
