<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
    <!-- Include jQuery 모달-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Include Popper.js for Bootstrap tooltips and popovers 모달-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <!-- Include Bootstrap JS 모달-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/MyPage.css">
    <style>
        .btn-custom {
            background-color: black; /* 버튼 배경색을 검정색으로 설정 */
            color: white;            /* 버튼 텍스트 색상을 흰색으로 설정 */
            border: 1px solid white; /* 버튼 테두리를 1px 흰색으로 설정 */
        }
        .btn-custom:hover {
            background-color: #333; /* 호버 시 버튼 배경색을 어두운 회색으로 설정 */
            border-color: #fff;     /* 호버 시 버튼 테두리 색상을 흰색으로 유지 */
        }
    </style>
</head>

<body>
<!-- 모달 -->
<div class="modal fade" id="updateSuccess" tabindex="-1" role="dialog" aria-labelledby="updateSuccessLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSuccessLabel">회원 정보가 수정됐습니다</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" th:text="${updateSuccess}"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="left-aligned-container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-8 mx-auto mb-3">
                        <div class="card custom-card">
                            <div class="card-body">
                                <form id="updateProfileForm" th:action="@{/Member/updateProfile}" method="post" onsubmit="return validateForm()">
                                    <div class="info-box">
                                        <h4 class="text-center mb-4 text-white">회원 정보 수정</h4>
                                        <p class="form_field2 text-black" id="Correction_id" th:text="'아이디: ' + ${loggedInUser.username}"></p>
                                    </div>
                                    <div class="form_field2">
                                        <input type="hidden" placeholder="New ID" id="newuser_id" name="newuser_id" th:value="${loggedInUser.username}" />
                                    </div>

                                    <!-- 닉네임 필드 -->
                                    <p class="form_field2 text-black" id="Correction_nickname" th:text="'닉네임: ' + ${loggedInUser.nickname}"></p>
                                    <div class="form_field2">
                                        <input type="text" style="color : white;" placeholder="New Nickname" id="newuser_nick" name="newuser_nick" th:value="${loggedInUser.nickname}" />
                                    </div>

                                    <!-- 이메일 필드 -->
                                    <p class="form_field2 text-black" id="Correction_email" th:text="'이메일: ' + ${loggedInUser.email}"></p>
                                    <div class="form_field2">
                                        <input type="email" style="color : white;" placeholder="New Email" id="newuser_email" name="newuser_email" th:value="${loggedInUser.email}" />
                                    </div>

                                    <!-- 비밀번호 변경 체크박스 -->
                                    <div class="form_field2">
                                        <label class="checkbox-container text-color ">
                                            <input type="checkbox" id="changePasswordCheckbox" onclick="togglePasswordFields()">
                                            <span class="checkbox-label text-color">비밀번호 변경</span>
                                        </label>
                                    </div>

                                    <!-- 비밀번호 필드 -->
                                    <div id="passwordFields" style="display: none;">
                                        <p class="form_field2 text-black" id="Correction_pass">비밀번호를 변경하시려면 새로운 비밀번호를 입력하여 주십시오</p>
                                        <div class="form_field2">
                                                <input type="password" class="text-color" placeholder="New Password" id="newuser_password" name="newuser_password" onkeyup="checkPasswordMatch();" />
                                        </div>
                                        <div class="form_field2">
                                            <input type="password" class="text-color" placeholder="Confirm Password" id="newuser_password2" name="newuser_password2" onkeyup="checkPasswordMatch();" />
                                        </div>
                                    </div>

                                    <!-- 버튼 및 메시지 -->
                                    <div class="form-footer">
                                        <button class="btn btn-primary my-2 my-sm-0" type="submit">수정하기</button>
                                        <div id="MatchMessage"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>



<script>
    function validateForm() {
        var form = document.getElementById('updateProfileForm');
        var newUserId = form.querySelector('#newuser_id').value.trim();
        var newUserNick = form.querySelector('#newuser_nick').value.trim();
        var newUserEmail = form.querySelector('#newuser_email').value.trim();
        var newUserPassword = form.querySelector('#newuser_password').value.trim();
        var newUserPassword2 = form.querySelector('#newuser_password2').value.trim();
        var message = document.getElementById("MatchMessage");

        // 정규 표현식
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        var pattern = /^[가-힣a-zA-Z]+$/;

        // 필드가 비어있는 경우, 수정하지 않기로 선택한 경우
        if (!newUserId && !newUserNick && !newUserEmail && !newUserPassword) {
            message.innerHTML = "수정을 위해서 정보를 입력해주세요";
            message.style.color = "red";
            return false;
        }

        // 이메일 형식 검증
        if (newUserEmail && !emailPattern.test(newUserEmail)) {
            message.innerHTML = "이메일 형식이 맞지 않습니다";
            message.style.color = "white";
            return false;
        }

        if (!pattern.test(newUserNick)) {
            message.innerHTML = "닉네임은 한글과 영문 또는 한글과 영문 혼합만 가능합니다.";
            message.style.color = "white";
            return false;
        }

        if(newUserId.length < 5){
            message.innerHTML = "ID 는 5글자 이상이어야합니다.";
            message.style.color = "white";
            return false;
        }
    if (newUserPassword || newUserPassword2) {
        if (newUserPassword !== newUserPassword2) {
            message.innerHTML = "비밀번호가 일치하지 않습니다";
            message.style.color = "white";
            return false;
        }

        if (newUserPassword.length < 6) {
            message.innerHTML = "비밀번호는 6글자 이상이어야 합니다";
            message.style.color = "white";
            return false;
        }
    }

        // 입력이 유효한 경우 폼 제출 허용
        return true;
    }

    function checkPasswordMatch() {
        var newUserPassword = document.getElementById('newuser_password').value.trim();
        var newUserPassword2 = document.getElementById('newuser_password2').value.trim();
        var message = document.getElementById("MatchMessage");

        if(newUserPassword == null && newUserPassword2 == null){
               message.innerHTML = "";
        }else{
            if (newUserPassword.length < 6) {
                message.innerHTML = "비밀번호는 6글자 이상이어야 합니다.";
                message.style.color = "white";
            } else if (newUserPassword === newUserPassword2) {
                message.innerHTML = "비밀번호가 일치합니다.";
                message.style.color = "white";
            } else {
                message.innerHTML = "비밀번호가 일치하지 않습니다.";
                message.style.color = "white";
            }
        }
    }
</script>
<script>
    function togglePasswordFields() {
    var checkbox = document.getElementById('changePasswordCheckbox');
    var passwordFields = document.getElementById('passwordFields');
    if (checkbox.checked) {
        passwordFields.style.display = 'block';
    } else {
        passwordFields.style.display = 'none';
    }
}

</script>
<!-- 모달 스크립트 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        var updateSuccess = /*[[${updateSuccess}]]*/ '';
        var updateError = /*[[${updateError}]]*/ '';

        if (updateSuccess) {
            $('#updateSuccess').modal('show');
        }
        if (updateError) {
            $('#updateError').modal('show');
            change_to_login();
        }
    });
    /*]]>*/
</script>
</body>
</html>