<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <h1 class="mt-4" align="center">Main

    </h1>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->

    <!-- /#sidebar-wrapper -->





    <!-- 본문 -->
    <div class="container-fluid" style="margin-top: 3rem; margin-bottom: 3rem; margin-left: 3rem; margin-right: 3rem;">
      <!-- 베스트 평점 게임 섹션 -->
      <div class="mb-5">
        <h1 class="mt-4">베스트 평점 게임</h1>
        <p>평점 상위 데이터 출력</p>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sample Image 1">
              <div class="card-body">
                <h5 class="card-title">GAME TITLE</h5>
                <p class="card-text">SCORE</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sample Image 2">
              <div class="card-body">
                <h5 class="card-title">GAME TITLE</h5>
                <p class="card-text">SCORE</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sample Image 3">
              <div class="card-body">
                <h5 class="card-title">GAME TITLE</h5>
                <p class="card-text">SCORE</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 신규 등록 게임 섹션 -->
      <div>
        <h1 class="mt-4">신규 등록 게임</h1>
        <p>등록일 최근순 상위 게임 출력</p>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sample Image 1">
              <div class="card-body">
                <h5 class="card-title">GAME TITLE</h5>
                <p class="card-text">SCORE</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sample Image 2">
              <div class="card-body">
                <h5 class="card-title">GAME TITLE</h5>
                <p class="card-text">SCORE</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sample Image 3">
              <div class="card-body">
                <h5 class="card-title">GAME TITLE</h5>
                <p class="card-text">SCORE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /본문 -->
  </div>
    <!-- /#wrapper -->

  </th:block>
</th:block>






  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->



  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".listBtn").click(function() {
        window.location.href = "/guestbook/list";  // JavaScript에서 페이지 이동
      });
    });
  </script>


</body>

</html>
